<h1>Nuevo Hospital</h1>

<p>
    <a asp-controller="Hospitales" asp-action="Index">
        Volver a Index
    </a>
</p>

<form method="post">
    <label>Id Hospital</label>
    <input type="text" name="idhospital" class="form-control"/>
    <label>Nombre</label>
    <input type="text" name="nombre" class="form-control"/>
    <label>Dirección</label>
    <input type="text" name="direccion" class="form-control"/>
    <label>Teléfono</label>
    <input type="text" name="telefono" class="form-control"/>
    <label>Camas</label>
    <input type="text" name="camas" class="form-control"/>
    <button class="btn btn-dark">
        Insertar
    </button>
</form>