@model List<Hospital>

<h1 style="color:blue">Hospitales EF</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Camas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Hospital h in Model)
        {
            <tr>
                <td>@h.Nombre</td>
                <td>@h.Direccion</td>
                <td>@h.Telefono</td>
                <td>@h.Camas</td>
            </tr>
        }
    </tbody>
</table>